.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 500px 500px;
}

.name {
    background-color: rgb(226, 57, 85);
    color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: 100%
}

.education {
    background-color: rgb(222, 130, 112);
    color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: 100%
}

.experience {
    background-color: rgb(92, 172, 162);
    color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: 100%
}

.languages {
    background-color: rgb(149, 81, 135);
    color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: 100%
}

.certs {
    background-color: rgb(223, 198, 75);
    color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: 100%
}

.links {
    background-color: rgb(61, 114, 175);
    color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: 100%
}